.subjectsGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);;
    column-gap: 50px;
}
.gridItemContainer{
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2) ;
    width:100%;
    cursor: pointer;
    transition-duration: 200ms;
}
.gridItemContainer:hover{
    background-color: rgb(237, 237, 237);
}
.subjectDescription{
    margin: 15px;
}