.subjectsGrid{
    display: grid;
    place-items: center;
    gap: 10px 10px;

    width: 50%;
    min-width: 364px;
    margin-bottom: 40px;
    grid-template-columns: repeat(2, 1fr);
}
.gridItemContainer{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2) ;
    aspect-ratio: 16/9;
    cursor: pointer;
    transition-duration: 200ms;
} 
.gridItemContainer:hover{
    background-color: rgb(237, 237, 237);
}
.subjectDescription{
    margin: 15px;
}

