#root{
    --wave-color:#f4d7ff;
}

.portrait{
    width: 400px;
    margin-left:20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2) ;
}
.firstBlockContainer{
    margin-top: 50px;
    width: 100%;
    position: relative;

}
.description{
    font-weight: 100;
}
.firstBlockText{
    padding: 10px;
    border-radius: 15px;
}
.photoAndText{
    width: 70%;
}
.waveContainer {
    position: absolute;
    width: 100%;
    overflow: hidden;
    bottom: 0%;
    z-index: -1;
}

/* .waveContainer svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
} */

.waveContainer .shape-fill {
    fill: var(--wave-color);
}
.waveBlock{ 
    
    width: 100vw;
    height: 100vh;
    background-color: var(--wave-color);

    
}