#root{
    --wave-color:#f3bfbf;
}

.portrait{
    width: 400px;
    margin-left:20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2) ;
}
.firstBlockContainer{
    margin-top: 50px;
    width: 100%;
    position: relative;

}
.description{
    font-weight: 100;
}
.firstBlockText{
    padding: 10px;
    border-radius: 15px;
}

.waveContainer{
    width: 100vw;
}
.wave{
    /* position: absolute;
    bottom: -100%; */
    z-index: -1;
    width: 100vw;
    fill: var(--wave-color);

}
.photoAndText{ /* this way, we can position the
     wave block absolutely behind photoAndText */
    position: relative;
}

.waveBlock{
    bottom: 0;
    z-index: -1;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: var(--wave-color);

}
.waveClass{
    transform: rotate(180deg) translateY(110px);
}